.cardprodutos{
    background-color: rgb(7, 167, 167);
    height: 1100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.produtosapresentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.produtosapresentation p{
    margin-top: 0;
    color: white;
}

.imgprodutos{
    display: flex;
    gap: 30px;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.phone-bluetoth{
    background-color:white ;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.phone-bluetoth img{
    width: 150px;
}

.carregador{
    background-color: white;
    border: solid black 1px;
    width: 200px;;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.carregador img{
    width: 150px;
}

.capinhas-epeliculas{
    background-color: white;
    border: solid black 1px;
    width: 200px;;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 50%;
}

.capinhas-epeliculas img{
    width: 150px;
}