body{
    padding: 0;
    margin: 0;
    width: 100vw;
    /* background-color:rgb(7, 167, 167)   ; */
    overflow-x: hidden;
    font-family: "Gemunu Libre", sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
}


header{
    /* background-color: rgb(132, 236, 12); */
    background-color: rgba(9, 190, 190, 0.767);
    width: 100vw;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    position: fixed; /* Fixa o header no topo */
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 9999;

}

.end{
  color: #FFC107;
}

h1{
    font-size: 40px;
    color: white;
}

ul{
    list-style: none;
    display: flex;
    gap: 35px;
    font-size: 20px;
}

li{
  color: white;
}

.contacts{
    gap: 10px;
    /* border: solid black 2px; */
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts img{
    width: 35px;
}


  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100vw;
    z-index: 0;
    background-color: white;
  }
  
  .slides img {
    width: 100vw;
    margin-top: -400px;
    /* z-index: 2; */
    opacity: 0.4; /* Deixa a imagem 70% visível */
    transition: opacity 0.5s ease-in-out; /* Suaviza a transição */
    background-color: white;
    
    
  }
  
  /* Indicadores (bolinhas) */
  .indicators {
    left: 50%;
    margin-top: -60px;
    position: absolute;

  }
  
  .indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    z-index:1;
    border: solid black 1px;
  }
  
  .indicator.active {
    background-color: rgb(11, 209, 209) ;
    border: solid white 1px;
  }

  .apresentation{
    margin-top: -50%;
    margin-left: 5%;
    position: relative;
    /* border: solid black 2px; */
    width: 600px;
  }

  h3{
    font-size: 30px; 
    color: #FFC107;;
    
    

  }

  .titlleapresentation{
    color: rgb(6, 180, 180);
  }

  .apresentation h1{
    font-size: 50px;
  }

  p{
    font-size: 25px;
    color: rgb(34, 32, 32);
    
  }


  button{
    width: 125px;
    height: 40px;
    font-size: 18px;
    /* background-color:rgb(132, 236, 12) ; */
    background-color: rgb(11, 209, 209);
    border: none;
    border-radius: 6px;
    font-family: "Gemunu Libre", sans-serif;
    color: whitesmoke;
  }


  .imginicio {
    margin-left: 65%;
    margin-top: -250px;
    position: relative;
    width: 250px;
    height: 250px;
    /* border: solid black 2px; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(11, 209, 209) ;
  }

  .imginicio img{
    width: 300px;

  }

  .cardinicio{
    width: 100vw;
    height:752px;
  }


  .cardempresa{
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    /* align-items: center; */
    justify-content: center;
    background-color:rgb(7, 167, 167) ;
    width: 100vw;
    gap: 20px;
  
  }

  .empresaapresentation{
    /* border: solid black 2px; */
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
    padding: 0;
    margin: 0;
    margin-top: 190px;
  

  }


  .empresaapresentation h3{
    font-size: 35px;
    /* border: solid black 2px; */
    margin-top: 0%;
    color: #FFC107;
  }
  .empresaapresentation h1{
    font-size: 50px;
    margin-top: -5%;
    color: whitesmoke;
  }
  .empresaapresentation p{
    font-size: 25px;
    margin-top: -5%;
    color: whitesmoke;
  }

  .imgempresa{
    /* border: solid 2px black; */
    height: 500px;
    width: 50%;
    margin-top: 100px;
  }

  .imgempresa img{
    width: 500px;
  }

  .empresaapresentation button{
    width: 120px;
    height: 43px;
    background-color: #FFC107;
  }
  
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  }
  

  #flootingimage{
    animation: float 3s ease-in-out infinite;
  }